@font-face {
  font-family: "jetbrain";
  src: url(font/JetBrainsMono-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin: auto;
  font-family: "jetbrain";
  text-decoration: none;
  list-style: none;
}

h2 {
  color: orange;
  text-decoration: underline;
  font-weight: 600;
  font-size: 60%;
}

h3 {
  color: rgb(51, 255, 0);
  font-size: 60%;
}

h1 a {
  text-align: left;
  color: rgb(51, 255, 0);
  font-size: 60%;
}

header {
  position: absolute;
  top: 1.2%;
  left: 1.2%;
  font-size: 3.2vw;
}

.nombre:hover a {
  color: orange;
}

.tituloBox {
  position: relative;
  max-width: 40%;
  text-align: center;
  left: 50%;
}

.tituloBox h2 {
  text-transform: uppercase;
  color: orange;
  text-align: center;
  padding: 2vw 0.8vw;
  border-radius: 1.6vw;
  font-size: 60%;
}

.tituloBox a {
  text-decoration: none;
  color: orange;
  background: rgb(51, 255, 0);
  padding: 0.8vw 0.8vw;
  border-radius: 1.6vw;
  letter-spacing: 0.1vw;
  transition: 0.5s;
  font-size: 60%;
}

.tituloBox a:hover {
  color: rgb(51, 255, 0);
  background: orange;
  transition: 0.5s;
}

body {
  background-image: url(img/fondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section {
  position: absolute;
  top: 36%;
  right: 16%;
  font-size: 1.6vw;
  display: block;
}

nav {
  position: fixed;
  top: 4.8vh;
  left: 85%;
  font-size: 1.5vw;
}

.menu {
  font-size: 4vw;
  color: rgb(51, 255, 0);
}
nav:hover .menu {
  color: orange;
}

.nav ul {
  display: none;
}

.nav:hover ul {
  display: block;
}

.nav ul li {
  display: block;
}

.nav ul li a {
  display: block;
  padding: 0.5vw;
  color: rgb(51, 255, 0);
  transition: color 0.5s;
}

.nav ul li:hover a {
  color: orange;
  background-color: rgb(51, 255, 0);
  border-radius: 1.6vw;
}

/* se crea css bloque redes sociales*/
footer {
  position: absolute;
  bottom: 4.8vh;
  left: 85%;
  font-size: 2vw;
}
.redesSociales > li {
  float: right;
}

.redesSociales {
  transition: 0.5s;
}

.redesSociales ul {
  text-align: center;
}

.redesSociales li {
  margin: 0 2%;
}

.redesSociales li a {
  display: block;
  color: rgb(51, 255, 0);
  padding: 4% 1%;
}

.redesSociales :hover li {
  display: block;
}

.redesSociales ul li {
  display: none;
  position: static;
  min-width: 3%;
}

.redesSociales :hover h3 {
  color: orange;
}

.redesSociales li a:hover {
  color: orange;
}
/* se crea css pagina cv*/
.cv h3 {
  color: aqua;
}
.cv li {
  color: aqua;
}

.cv {
  position: absolute;
  top: 25%;
  left: 15%;
  font-size: 1.36vw;
  display: block;
  text-align: justify;
}

/* se crea css pagina proyectos*/

.proyectos {
  display: flex;
  justify-content: center;
  padding: 0.8vw;
  transition: 0.5s;
  margin-left: 15%;
}

.proyectos * {
  margin-right: 0.8vw;
}

.proyectos > *:hover {
  transform: translate(-0.24vw, -0.24vw);
  padding: 0.16vw;
}

/* se crea css pagina contactos*/
.container {
  max-width: 32%;
  margin: 15% auto;
  padding: 1.6vw;
  border-radius: 0.8vw;
}
label {
  display: block;
  margin-bottom: 0.4vw;
  font-weight: bold;
  color: rgb(51, 255, 0);
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0.8vw;
  margin-bottom: 0.8vw;
  border: 0.08vw solid #ccc;
  border-radius: 0.32vw;
  box-sizing: border-box;
}

textarea {
  height: 6vw;
}

input[type="submit"] {
  background-color: rgb(51, 255, 0);
  color: orange;
  padding: 0.8vw 1.6vw;
  border: none;
  border-radius: 0.32vw;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: orange;
  color: rgb(51, 255, 0);
}

.container h2 {
  color: rgb(51, 255, 0);
  text-align: center;
  font-size: 2vw;
}
